body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.container {
    background: rgba(255, 255, 255, 0.75);
    padding: 2rem;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}

.form-container h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
}

.input-group input {
    width: 350px;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    background-color: #2575fc;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: #0545b5;
    transition: all 0.5s ease;
}

.register-link {
    display: block;
    margin-top: 1rem;
    color: #2575fc;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.image-container {
    height: auto;
    text-align: center;
    margin-top: 1.5rem;
}

.image-container img {
    height: auto;
    width: 500px;
    border-radius: 8px;
}